@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Android';
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
}
* {
    padding: 0px;
    margin: 0px;
}

:root {
    --cor00: #c5edb6;
    --cor01: #83e1ad;
    --cor02: #3ddc84;
    --cor03: #2fa866;
    --cor04: #1a5c37;
    --cor05: #063d1e;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: "Bebas Neue", sans-serif;
    --font-android: 'Android', serif;
}



body {
    background-color: var(--cor00);
    font-family: Arial, Helvetica, sans-serif;
}



header {
    background: linear-gradient(to bottom, #2fa866, #063d1e);
    padding: 20px;
    text-align: center;
    color: white;
}
header h1 {
    font-family: "Bebas Neue", sans-serif;
    margin: 20px;
    font-size: 45px;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.486);
    font-weight: normal;
}
header p {
    font-size: 14px;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.473);
}



nav {
    background-color: var(--cor05);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.192);
}
nav a {
    color: white;
    text-decoration: none;
    padding: 10px;
    font-size: 13px;
    font-weight: bold;
}
nav a:hover {
    background-color: var(--cor02);
    border-radius: 3px;
    color: var(--cor05);
}



main {
    max-width: 1000px;
    min-width: 300px;

    margin: auto;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.336);
}



article {
    background-color: white;
    border-radius: 0px 0px 10px 10px;
    padding: 20px;
}
article h1 {
    font-family: var(--font-android);
    color: var(--cor04);
    font-weight: normal;
    font-size: 30px;
}
article h2 {
    font-family: var(--font-android);
    background: linear-gradient(to right, #c5edb6, white);
    padding: 10px;
    font-size: 22px;
    font-weight: normal;
    border-radius: 3px;
    color: var(--cor04);
}
article p {
    padding: 15px 0px;
    text-indent: 20px;
    text-align: justify;
    line-height: 25px;
}
article img {
    width: 100%;
}
article img.pequena {
    max-width: 350px;
    display: block;
    margin: auto;
}
article strong {
    color: var(--cor03);
    text-decoration: underline;
}
article a {
    text-decoration: none;
    font-weight: bolder;
    color: var(--cor05);
    background-color: var(--cor01);
    padding: 2px 5px;
    border-radius: 2px;
}
article a:hover {
    color: var(--cor04);
    text-decoration: underline;
}
article a::after {
    content: ' 🔗';
}



.video {
    background-color: var(--cor05);
    margin: 0px -20px 40px -20px;
    padding: 20px;
    padding-bottom: 60%;
    position: relative;
}

.video iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}



aside {
    background-color: var(--cor00);
    padding-bottom: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.281);
}
aside h3 {
    font-family: var(--fonte-padrao);
    color: white;
    background: var(--cor03);
    margin: 0px;
    padding: 10px 0px 10px 15px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px 5px 0px 0px;
}
aside p {
    padding: 10px 15px;
}
aside ul {
    list-style-position: inside;
    columns: 2;
    list-style-type: none;
    padding: 15px;
}
aside li::before {
    content: '✔ ';
}



footer {
    background-color: var(--cor05);
    color: white;
    font-size: 12px;
    text-align: center;
    padding: 5px;
    margin-top: 20px;
}
footer a {
    text-decoration: underline;
    color: white;
    font-weight: bold;
}
